{% extends 'base.html' %}
{% load static %}

{% block title %}
  Жалоба на комм. №{{ reply.id }}
{% endblock %}

{% block content %}
<form action="{{ reply.get_complaint_reply_url }}" method="post">
  {% csrf_token %}

  {% for field in complaint_form %}
    <div class="form-group">
        {% if field.errors %}
          <div class="alert alert-danger">
            {{ field.errors }}
          </div>
        {% endif %}

        {{ field }}
    </div>

  {% endfor %}
  <br>
  &nbsp <button type="submit" class="btn btn-primary">Отправить</button>

</form>

{% endblock %}
