{% extends "base.html" %}
{% load static %}
{% load user_avatar_url %}
{% block title %}chat{% endblock %}
{% block header_text %}Chat obana{% endblock %}

{% block content %}
    <ul class="rooms d-none">
      <li class="room-link" data-room-id="{{ rooms.id }}">Заказчик {{ user.username }}! Заказ № {{ rooms.id }}</li>
    </ul>
    <img id="image" />
    <div id="chats">
      <div class='room' id='room-{{ rooms.id }}'>
        <div id="last_message_id" class='d-none'>{{ privious_id }}</div>
        <div class='messages'>
          {% for message in messages %}
          {% if user.id != message.user %}
            <div class="message">
                <div class="photo">
                    <img src="{{message.user|user_avatar_url}}" alt="">
                </div>
                <div class="message_right">
                    <div class="message_right_top">
                        <div class="name">
                            {{message.username}}
                        </div>
                        <div class="time">
                            {{message.created|slice:"11:16"}}
                        </div>
                    </div>
                    <div class="text">
                        {{message.message}}
                    </div>
                </div>
            </div>
            {% else %}
                <div class="message my">
                    <div class="photo">
                        <img src="{{message.user|user_avatar_url}}" alt="">
                    </div>
                    <div class="message_right">
                        <div class="message_right_top">
                            <div class="name">
                                {{message.username}}
                            </div>
                            <div class="time">
                                {{message.created|slice:"11:16"}}
                            </div>
                        </div>
                        <div class="text">
                            {{message.message}}
                        </div>
                    </div>
                </div>
            {% endif %}
          {% endfor %}
        </div>
        </div>
        <form id="chat-form">
            {{form.file}}
          <div class='input-group mb-3'>
            {{form.chat}}
            <div class='input-group-append'>
              <button type='submit' class='btn ' id='button-addon2'>&ensp;<i class='fa fa-angle-double-right'>&ensp;</i></button>
            </div>
          </div>
        </form>

    </div>
{% endblock %}


{% block extra_body %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);
            $(".room").scrollTop($(".room").prop("scrollHeight"));
            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got chat websocket message " + message.data);
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data.join);

                    // Кнопка чтобы отправить сообщение

                    $("#chat-form").on("submit", function () {
                        socket.send(JSON.stringify({
                            "command": "send",
                            "room": data.join,
                            "message": $("#chat-input").val()
                        }));
                        $("#chat-input").val("");
                        return false;
                    });

                    // Handle leaving

                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                    // Обработка получения сообщения
                } else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    var ok_msg = "";

                    switch (data.msg_type) {
                        case 0:
                            // Сообщения
                            ok_msg = `
                            <div class="message">
                                <div class="photo">
                                </div>
                                <div class="message_right">
                                    <div class="message_right_top">
                                        <div class="username">
                                            ${data.username}
                                        </div>
                                        <div class="time">
                                        12:05
                                        </div>
                                    </div>
                                    <div class="text">
                                        Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                    </div>
                                </div>
                            </div>`

                            ok_msg = "<div class='message'>" +
                                    "<div class='photo'>" +
                                        "<img src='" + data.avatar + "'>" +
                                    "</div>" +
                                    "<span class='username'>" + data.username + "</span><br>" +
                                    "<span class='body'><p style='margin-left:30px'>" + data.message + "</p></span>" +
                                    "</div>";
                            break;
                        case 1:
                            // Предупреждение / Советы
                            ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                    "</div>";
                            break;
                        case 2:
                            // Alert / Опасные сообщения
                            ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                    "</div>";
                            break;
                        case 3:
                            // "Мут" сообщения
                            ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                    "</div>";
                            break;
                        case 4:
                            // User подключен room
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                    " присоединился к комнате!" +
                                    "</div>";
                            break;
                        case 5:
                            // User покинул room
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                    " покинул комнату!" +
                                    "</div>";
                            break;
                        default:
                            console.log("Неподдерживаемый тип сообщения!");
                            return;
                    }
                    msgdiv.append(ok_msg);

                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    console.log("Не удается обработать сообщение!");
                }
            };

            // Говорит, если мы присоединились к комнате или нет, если есть div для нее
            inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
            };

            // Room join/leave
            roomId = $("li.room-link").attr("data-room-id");

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
                $("li.room-link").addClass("joined");
                socket.send(JSON.stringify({
                    "command": "join",
                    "room": roomId
                }));
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
                socket.send(JSON.stringify({
                    "command": "leave",
                    "room": roomId
                }));
            }


        });

        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var lh_path = ws_scheme + '://' + window.location.host + "/chat/loadhistory/";
            console.log("Connecting to " + lh_path);
            var lh_socket = new ReconnectingWebSocket(lh_path);
            var chat = $('.messages');
            var block_request = false
            var last_message_id = $("#last_message_id")
            lh_socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got history websocket message " + message.data);
                var data = JSON.parse(message.data);

                new_messages = data.messages;
                last_id = data.privious_id;
                console.log(last_id);
                last_message_id.text(last_id);

                for (var i = 0; i < new_messages.length; i++) {
                    msg = `
                            <div class="message">
                                <div class="photo">
                                </div>
                                <div class="message_right">
                                    <div class="message_right_top">
                                        <div class="name">
                                            ${new_messages[i].username}
                                        </div>
                                        <div class="time">
                                            ${new_messages[i].created.substr(11, 5)}
                                        </div>
                                    </div>
                                    <div class="text">
                                        ${new_messages[i].message}
                                    </div>
                                </div>
                            </div>`;
                //   msg = "<div class='message'>" +
                //           "<span class='username'>" + new_messages[i].username + "</span><br>" +
                //           "<span class='text-muted'><pre>" + new_messages[i].created + "</pre></span>" +
                //           "<span class='body'><p style='margin-left:30px'>" + new_messages[i].message + "</p></span>" +
                //           "</div>";
                  chat.prepend(msg)
                  block_request = false
                }
            };

            chat.scroll(function() {
              if (chat.scrollTop() < 300 && block_request == false && last_message_id.text() != '-1') {
                block_request = true
                console.log('тут сенд');
                lh_socket.send(JSON.stringify({
                  'last_message_id': last_message_id.text(),
                  'room': $("li.room-link").attr("data-room-id")
                }));

              }
            });

            lh_socket.onopen = function () {
                console.log("Connected to history socket");


            };
            lh_socket.onclose = function () {
                console.log("Disconnected from history socket");

            }
        });

        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/file/{{ rooms.id }}/";
            console.log("Connecting to " + ws_path);
            var file_socket = new ReconnectingWebSocket(ws_path);
            file_socket.binaryType = "arraybuffer";
            var block_send = false

            // Handle incoming messages
            roomId = $("li.room-link").attr("data-room-id");
            file_socket.onmessage = function (message) {
                // Decode the JSON
                if (message) {
                    console.log(message.data);

                }
                $("#chat-form").on("submit", function () {
                    if ($("#chat-file").val() &&block_send == false ){
                        block_send = true
                        var file = document.getElementById('chat-file').files[0];
                        console.log(file.name);
                        console.log(file.type);
                        var reader = new FileReader();
                        var rawData = new ArrayBuffer();
                        reader.loadend = function(e) {
                            $("#chat-input").val("");
                            console.log('!!!!!!!!!!!!');
                        };
                        reader.onload = function(e) {
                            var rawData = e.target.result;
                            file_socket.send(rawData)
                            var url = window.URL.createObjectURL(file)
                            $("#image").attr("src", url);
                        };
                        reader.readAsArrayBuffer(file);
                        block_send = false


                    }
                });
            }


            // Helpful debugging
            file_socket.onopen = function () {
                console.log("Connected to file socket");
                file_socket.send('Hello World')


            };
            file_socket.onclose = function () {
                console.log("Disconnected from chat socket");

            }


        });

    </script>
{% endblock %}

if ($("#chat-file").val()){
    var file = document.getElementById('chat-file').files[0];
    console.log(file);
    console.log(file.name);
    console.log(file.type);
    var reader = new FileReader();
    var rawData = new ArrayBuffer();
    reader.loadend = function(e) {};
    reader.onload = function(e) {
        var rawData = e.target.result;
        file_socket.send(rawData)
        var attach = JSON.stringify({
            "name": file.name,
            "type": file.type,
            "attach": rawData
        });
        console.log(attach);
        var url = window.URL.createObjectURL(file)
        $("#image").attr("src", url);
    };
    reader.readAsArrayBuffer(file);

}
