{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
  <h1>Изменение пароля</h1>
  {% if validlink %}
    <p>Введите ваш новый пароль:</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Изменить пароль" /></p>
    </form>
  {% else %}
    <p>Ссылка изменения пароля недействительна, возможно она уже была использована. Пожалуйста, запросите изменение пароля снова.</p>
  {% endif %}
{% endblock %}
