{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ image.title }}{% endblock %}
{% block content %}
<div class="col-12">  
  {% load thumbnail %}
  <div class="image-wrapper">
    <div class="col-4">
      {% thumbnail image.image "300" as im %}
        <a href="{{ image.image.url }}">
          <img src="{{ im.url }}" class="image-detail">
        </a>
      {% endthumbnail %}
    </div>
    <div class="col-8">
      <h1>{{ image.title }}</h1>
      <div class="image_description">{{ image.description|linebreaks }}</div>
  {% with total_likes=image.users_like.count users_like=image.users_like.all %}    
      <div class="image_bottom">
        <div class="image_likes_wrapper"> 
            <div class="image-like">
              <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like">
              <img  src="{% static 'icons/dark_favorites.png'%}"> 
              <span class="total">{{ total_likes }}</span>
              {% if request.user not in users_like %}
             
              {% else %}
               
              {% endif %}
            </a>
            </div>    
            {% if image.users_like.all|length > 0 %}       
          <div class="image_likes_popover">
            <h5>Понравилось {{ total_likes }} людям</h5>
            <div class="image_likes_users">
              {% for user in image.users_like.all|slice:":7" %}
                <div class="image_likes_user" style="background-image: url('{{ user.profile.photo.url }}')" title="{{ user.first_name }}">                        
                </div>      
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="image_views">
          <img src="{% static 'icons/view.png'%}">
          <span >{{ total_views }}</span>          
        </div> 
      </div>
  </div>
</div>
  {% endwith %}
</div>
{% endblock %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    var args = {id: $(this).attr('data-id'), action: $(this).attr('data-action')}
    $.post('{% url "images:like" %}',
      args,
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').attr('data-action');

          // toggle data-action
          // $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          $('a.like').attr('data-action', previous_action == 'like' ? 'unlike' : 'like')
          // toggle link text
          <!-- $('a.like').text(previous_action == 'like' ? 'Разонравилось' : 'Нравится'); -->

          // update total likes
          var previous_likes = parseInt($('span.total').text());
          $('span.total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}
