{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if query %}
        <div>
            <h1>По запросу "{{ query }}"</h1>
            <h3>найдено {{ results.count }} товара</h3>
        </div>
        {% for product in results %}
            <div>
                <a href="{{ product.get_type_obj.get_absolute_url }}">
                    <div class="card-img-top rounded-top" style="
                        height:200px;
                        width: 200px;
                        background-size:cover;
                        background-image:url(
                          {% if product.galary.images %}
                              {{ product.galary.main_image }}
                          {% else %}
                              {% static 'img/fiz.png' %}
                          {% endif %})"
                    </div>
                </a>
                <h4><a href="{{ product.get_type_obj.get_absolute_url }}">{{ product.get_type_obj.title }}</a></h4>
                {{ product.get_type_obj.short_description|truncatewords:10 }}
            </div>
        {% empty %}
            <p>Ничего</p>
        {% endfor %}
        <p><a href="{% url "search" %}">Искать заново</a></p>
    {% else %}
        <h1>Искать товары</h1>
    {% endif %}
{% endblock %}
