{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div id="sidebar">
  <h3>Categories</h3>
  <ul>
    <li {% if not category %}class="selected"{% endif %}>
      <a href="{% url "shop" %}">All</a>
    </li>
    {% recursetree categories %}
        <li{% if node.slug == category.slug %} class="selected" {% endif %}>
            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    <a href="{{ children.get_absolute_url }}">{{ children }}</a>
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
  </ul>
</div>
<h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>


<div class="card-deck" style="margin-left: 5%;">
  <div class="mx-auto">
    {% for product in products_list %}
      <a href="{{ product.get_absolute_url }}">
        <div class="card border-light mb-3" style="width:200px;float:left;margin-top: 3%">
          <div style="height:200px; width: 200px; background-size:cover; background-image:url({% if product.product_galary.images %}{{ product.product_galary.main_image }}{% else %}{% static "img/fiz.png" %}{% endif %})" class="card-img-top rounded-top"></div>
          <!-- <img src="{% if product.imag %}{{ product.imag.url }}{% else %}{% static "img/fiz.png" %}{% endif %}" class="card-img-top rounded-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.price}}</p>
          </div>
          <div class="card-footer">
            <form id="form-{{ product.id }}" class="product-card-views" action="{% url "cart:cart_add" product.id %}" method="post" >
              {{ cart_product_form.quantity }}
              {{ cart_product_form.update }}
              <input name="product_id" type="hidden" value="{{ product.id }}" >
              {% csrf_token %}
              <button type="submit" name="submit_btn" class="btn btn-success submit_btn" id="submit_btn_{{ product.id }}" data-title ="{{product.title}}" data-price ="{{ product.price }}">
                в корзину
              </button>
            </form>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </div>
{% endblock %}


{% block domready %}

  var form = $('.product-card-views');
  var button = $('.btn');

  function show_cart() {
    // $('.cart-items').toggleClass('d-none');
    $('.cart-items').removeClass('d-none');
  }

  $('.cart-container').on('click', function(e){
    e.preventDefault();
    show_cart();
  })


  form.on('submit', function(e) {
    e.preventDefault();
    var cur_form = this;
    var product_id = cur_form.id.slice(5);
    var submit_btn = $(`#submit_btn_${product_id}`);
    var quant = cur_form.quantity.value;
    var delete_url = $('.delete-url').val();
    var title = submit_btn.data("title");
    var price = submit_btn.data("price");
    var url = $(`#${cur_form.id}`).attr("action");
    var update = cur_form.update.value;
    var csrf_token = cur_form.csrfmiddlewaretoken.value;
    var data = {};
    data.quantity = quant;
    data.update = update;
    data["csrfmiddlewaretoken"] = csrf_token;
    $.ajax({
      url: url,
      type: 'POST',
      data: data,
      cache: true,
      success: function (data) {
        console.log('OK');
      },
      error: function () {
        console.log('error');
      },
    })

    $('.cart-items ul').append('<li>'+title+', '+quant+'шт. '+'по ' + price +' руб. ' +
    `<a class="delete-item" href="${delete_url}${product_id}"> x</a>` +
    '</li>')

  })


  $(document).on('click', '.delete-item', function (e) {
    e.preventDefault();
    var del_buttun = $(this)
    del_buttun.closest('li').remove();
    $.ajax({
      url: del_buttun.attr("href"),
      type: 'GET',
      cache: true,
      success: function () {
        console.log('delete is OK');
      },
      error: function () {
        console.log('error');
      },
    })
  })


{% endblock %}
