{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}

{% block content %}
<div class="col-sm-12 col-xl-3">
  <div id="sidebar" >
    <div>
      <img src="{% static 'icons/category.png'%}" alt="">
      <h3>Категории</h3>
    </div>

    <ul>
      {% if category %}
      <li >
        <a href="{% url "shop" %}">< Все категории</a>
      </li>
      {%for i in ancestors %}
        <li><a href="{{ i.get_absolute_url }}" %}">< {{i}}</a></li>
      {%endfor%}
      <li class="selected">
        <a href="{% url "shop" %}">{{category}}</a>
      </li>

      </li>
      {% endif %}
      {% recursetree categories %}
          <li{% if node.slug == category.slug %} class="selected" {% endif %}>
              <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>

          </li>
      {% endrecursetree %}
    </ul>
  </div>
</div>
<!-- <h1>{% if category %}{{ category.name }}{% else %}Продукты{% endif %}</h1> -->

  <div class="col-sm-12 col-xl-9">
    <div class="main_slider" data-selector="main-slider">
      {% for slide in slider %}
        <div class="main_slider__item" style="background: no-repeat center/cover url({{slide.image.url}})"></div>
        <!-- <div class="main_slider__item" style="background: no-repeat center/cover url(../../../static/img/fiz.png)"></div>    -->
        {% endfor %}
    </div>
  </div>
  <div class="col-sm-12">
    <div class="products__container">
      <h3>Товары и услуги</h3>
      {% for product in products_list %}

          <div class="card border-light mb-3">
            <a href="{{ product.get_type_obj.get_absolute_url }}">
              <div style="height:200px; width: 200px; background-size:cover; background-image:url({% if product.galary.images %}{{ product.galary.main_image }}{% else %}{% static "img/fiz.png" %}{% endif %})" class="card-img-top rounded-top"></div>
            </a>
            <!-- <img src="{% if product.imag %}{{ product.imag.url }}{% else %}{% static "img/fiz.png" %}{% endif %}" class="card-img-top rounded-top" alt="..."> -->
            <div class="card-body">
              <a href="{{ product.get_type_obj.get_absolute_url }}">
                <h5 class="card-title">{{product.get_type_obj.title}}</h5>
              </a>
              <div class="card-desc">{{product.get_type_obj.short_description}}</div>
            </div>
            <div class="card-footer">
              <div>
                <div class="card-price">{{product.get_type_obj.price|floatformat:"0" }} ₽</div>
                  <div class="card-buttons">
                    <button type="submit" name="submit_btn" class="btn favorites_btn submit_btn" data-id="{{ product.id }}" data-action="{% if product in request.user.wishlist.products.all %}reverse_{% endif %}add">
                      {% if product in request.user.wishlist.products.all %}
                        ok
                      {% else %}
                        <img src="{% static 'icons/favorites.png'%}" alt="">
                      {% endif %}
                    </button>
                    <form id="form-{{ product.id }}" class="product-card-views" action="{% url "cart:cart_add" product.id %}" method="post"" method="post" >
                      {{ cart_product_form.quantity }}
                      {{ cart_product_form.update }}
                      <input name="product_id" type="hidden" value="{{ product.id }}" >
                      {% csrf_token %}
                      {% if product.id|stringformat:"i" in cart.product_ids %}
                        <button type="submit" name="submit_btn" class="btn cart_btn submit_btn added" id="submit_btn_{{ product.id }}" data-title ="{{product.get_type_obj.title}}" data-price ="{{ product.get_type_obj.price }}">

                        </button>
                      {%else%}
                        <button type="submit" name="submit_btn" class="btn cart_btn submit_btn" id="submit_btn_{{ product.id }}" data-title ="{{product.title}}" data-price ="{{ product.price }}">
                          <img src="{% static 'static/icons/cart.png'%}" alt="">
                        </button>
                      {%endif%}

                    </form>
                  </div>
              </div>
            </div>
          </div>

      {% endfor %}

    </div>
  </div>
{% endblock %}


{% block domready %}

$('[data-selector="main-slider"]').slick();

  var form = $('.product-card-views');
  var button = $('.btn');

  function show_cart() {
    // $('.cart-items').toggleClass('d-none');
    $('.cart-items').removeClass('d-none');
  }

  $('.cart-container').on('click', function(e){
    e.preventDefault();
    show_cart();
  })


  form.on('submit', function(e) {
    e.preventDefault();
    var cur_form = this;
    var product_id = cur_form.id.slice(5);
    var submit_btn = $(`#submit_btn_${product_id}`);
    var quant = cur_form.quantity.value;
    var delete_url = $('.delete-url').val();
    var title = submit_btn.data("title");
    var price = submit_btn.data("price");
    var url = $(`#${cur_form.id}`).attr("action");
    var update = cur_form.update.value;
    var csrf_token = cur_form.csrfmiddlewaretoken.value;
    var data = {};
    data.quantity = quant;
    data.update = update;
    data["csrfmiddlewaretoken"] = csrf_token;
    $.ajax({
      url: url,
      type: 'POST',
      data: data,
      cache: true,
      success: function (data) {
        let count = 0;
        if (parseInt($(".badge_cart").text()) == 0){
           count =  0;
           $(".badge_cart").toggleClass('d-none');
        } else {
          count = parseInt($(".badge_cart").text());
        }


        count++;
        console.log(count)
        $(".badge_cart").text(count);
      },
      error: function () {
        console.log('error');
      },
    })

    $('.cart-items ul').append('<li>'+title+', '+quant+'шт. '+'по ' + price +' руб. ' +
    `<a class="delete-item" href="${delete_url}${product_id}"> x</a>` +
    '</li>')

  })


  $('.favorites_btn').click(function(e){
    e.preventDefault();
    var args = {id: $(this).attr('data-id'), action: $(this).attr('data-action')}
    $.post('{% url "wishlist_actions" %}',
      args,
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('.favorites_btn').attr('data-action');
          console.log(previous_action)
          $('.favorites_btn').attr('data-action', previous_action == 'add' ? 'reverse_add' : 'add');

        }
      }
    );
  });

  $(document).on('click', '.delete-item', function (e) {
    e.preventDefault();
    var del_buttun = $(this)
    del_buttun.closest('li').remove();
    $.ajax({
      url: del_buttun.attr("href"),
      type: 'GET',
      cache: true,
      success: function () {
        console.log('delete is OK');
      },
      error: function () {
        console.log('error');
      },
    })
  })


{% endblock %}
