{% extends "base.html" %}
{% block title %}
  Подтверждение заказа
{% endblock %}

{% block content %}
  <div class="col-12">
    <h1>Подтверждение заказа</h1>
    <div class="order-info">
      <h3>Ваш заказ</h3>
      <ul>
        {% for item in cart %}
          {% with product=item.product.get_type_obj %} 
            <li>
              {{ item.quantity }} x {{ product.name }}
              <span>{{ item.total_price|floatformat:"2" }} руб.</span>
            </li>
          {% endwith %} 
        {% endfor %}
        {% if cart.coupon %}
          <li>
            "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% Скидка)
            <span>- {{ cart.get_discount|floatformat:"2" }} руб.</span>
          </li>
        {% endif %}
      </ul>
      <p>Всего: {{ cart.get_total_price_after_discount|floatformat:"2" }} руб.</p>
    </div>
    <form action="." method="post" class="order-form">
      {{ form.as_p }}
      <p><input type="submit" value="Заказать"></p>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}
