{% extends "base.html" %}
{% load thumbnail %}
{% block title %}People{% endblock %}
{% block content %}
  <h1>Контакты</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        <a href="{% url 'user_detail' user.id %}">
          {% thumbnail user.profile.photo "180x180" format="PNG" crop="100%" as im %}
            <img src="{{ im.url  }}">
          {% endthumbnail %}
        </a>
        <div class="info">
          <a href="{% url 'user_detail' user.id %}" class="title">
            {{ user.get_full_name }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
