{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<div>
  <p>{{ product.product_or_service.product.title }}{{ service.product_or_service.service.title }}:
    <br>
    Описание: {{ product.product_or_service.product.description }}{{ service.product_or_service.service.description }}
    <br>
    Доступность: {{ product.product_or_service.product.available }}{{ service.product_or_service.service.available }}
    <br>
    {% if product %}
      Стоимость единицы: <td class="num">{{ product.product_or_service.product.price }} руб.</td>
      <br>
      Всего на складе: <td class="num">{{ product.product_or_service.product.county }} шт.</td>
      <br>
      Стоимость товаров на складе: <td class="num">{{ overall_price }}руб.</td>
      <br>
    {% endif %}
    Рейтинг: {{ product.rating }}{{ service.rating }}
    <br>
    Комментариев: {{ product.amount_of_comments }}{{ service.amount_of_comments }}
    <br>
    Просмотров: {{ product.views }}{{ service.views }}
    <br>
    Заказов: {{ product.orders }}{{ service.orders }}
    <br>
    Стоимость заказов: {{ product.orders_cost }}{{ service.orders_cost }} руб.
    <br>
    Оплаченные заказы: {{ product.paid_orders }}{{ service.paid_orders }}
    <br>
    Стоимость оплаченных заказов: {{ product.paid_orders_cost }}{{ service.paid_orders_cost }} руб.
  </p>
</div>
{% endblock %}
