{% extends "base.html" %}

{% block title %}
  {% if object %}
    "{{ object.title }}"
  {% else %}
    Открытие магазина
  {% endif %}
{% endblock %}

{% block content %}
  <div class="col-12">
    <h1>
      {% if object %}
        Редактирование магазина "{{ object.title }}"
      {% else %}
        Открытие магазина
      {% endif %}
    </h1>
    <div class="mine-shop">     
      <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Сохранить"></p>
      </form>
    </div>
  </div>
{% endblock %}
