{% extends "base.html" %}

{% block title %}Мои Магазины{% endblock %}

{% block content %}
  <h1>Мои Магазины</h1>
  <div class="mine-shop">
    {% for shop in object_list %}
      <div class="mine-shop-info">
        <h3>{{ shop.name }}</h3>
        <p>
          <a href="{% url "shop_edit" shop.id %}">Редактировать</a>
          <a href="{% url "shop_delete" shop.id %}">Удалить</a>
        </p>
      </div>
      {% empty %}
      <p>У Вас пока нет магазинов</p>
    {% endfor %}
    <p>
      <a href="{% url "shop_create" %}" class="button">Открыть магазин</a>
    </p>
  </div>
{% endblock %}
