// основной шрифт
$font-family: 'Montserrat', sans-serif;
$font-family-secondary: 'Ubuntu', sans-serif;
$font-size: 16px;
$line-height: 1.2;
$font-weight: 400;
$font-style: normal;

// цвета
$main-color: #6BA371;
$main-light-color: #FAFFFA;
$secondary-color: #D5F9D9;
$grey-color: #C4C4C4;
$grey-color2: rgba(0, 26, 52, 0.5);
$light-color: white;
$dark-color: #001A34;
$link-color: $dark-color;
$link-hover-color: darken($link-color, 5)